@import 'colors';

body {
  background: white;
}

.box {
  border: 1px solid black;
  margin: 2em;
  padding: 1em;
  display: inline-block;
  background: $box-bg;
}

.inp {
  border: 1px solid black;
  margin: 2em;
  padding: 1em;
  background: $inp-bg;
}